*{
    padding: 0px;
    margin: 0px;
}

/* .main-nav{
    background-color: rgb(255, 255, 255);
    max-width: 1140px;
    position: sticky;
    top: 0;
    z-index: 999;
} */

 .main-nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    z-index: 999;
}


.nav ul{
    gap: 70px;
    padding: 25px;
    font-weight: 600;
}
.nav Link:hover{
    color: #493BFF;
}

.btn-book{
    background-color: #493BFF;
    color: white;
    border-radius: 30px;
}
.btn-menu{
    border-radius: 15px;
}