
.content-img{
    padding-top : 50px;
    position: relative;
    /* padding-left: 100px; */
}
.counter-area{
    
    background-color:#493BFF ;
    padding: 45px 30px;
    position: absolute;
    left: -75px;
    top: 100px;
    text-align: center;
    border-radius: 15px;
}
.small-img{
    position: absolute;
    right: -60px;
    bottom: 30px;
    max-width: 211px;
 
}
.content-info{
    padding-left: 50px;
}

.icon-call{
    font-size: 25px;
    margin-right: 20px;
    background-color: #493BFF;
    padding: 20px;
    color: white;
    border-radius: 25px;
}
